@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway:400,600&display=swap');
@import url("https://use.typekit.net/xpb8wcc.css");
/* 
FONTS:
• benton-modern-display, serif [weight: 400, 700; style: normal, italic]
• benton-modern-display-compre, serif [weight: 400, 700; style: normal, italic]
• benton-modern-display-extra, serif [weight: 400, 700; style: normal, italic]
• benton-modern-display-conden, serif [weight: 400, 700; style: normal, italic]

• forma-djr-text, sans-serif [weight: 400, 700; style: normal, italic]
mantinia
nobel
*/
:root {
	/* PALETTE */
	--pal-red: #E4572E;
	--pal-blue: #17BEBB;
	--pal-yellow: #FFC914;
	--pal-green: #4AAD52;
	--pal-gray: #2E282A;
	--pal-lgray: #EFEFEF;

	/* CARDS */
	--aboutus-d: 10%;
	--aboutus-m: 50%;
	--staffselect-d: -55%;
	--staffselect-m: -50%;
	--staffinfo-d: -55%;
	--staffinfo-m: -50%;
	--staffBack-left-d: calc(-55% + 301px);
	--staffBack-top-m: calc(40% + 250px);
	--staffBack-left-m: -39%;
	--about-us-opacity: 1;
	--staffselect-opacity: 1;
	--history-left-m-active: 50%;
	--history-left-d-active: 10%;
	--history-left-d-inactive: 110%;
	--history-left-m-inactive: 160%;
	--history-active: var(--history-left-d-active);
	--history-inactive: var(--history-left-d-inactive);

	
	/* BACKGROUNDS */
	--default-top-background: url("../images/hero/hero9.jpeg");
	--topbackground-d: var(--default-top-background);
	--topbackground-m: var(--default-top-background);
	--gradient-opacity: 0;
	
	/* FONTS */
	--header: forma-djr-text, sans-serif;
	--header-weight: 700;
	--header-style: normal;
	
	--body-text: forma-djr-text, sans-serif;
	--body-weight: 400;
	--body-style: normal;
	
	--font-size-p: 1em;
	--nav-fsize: 1em;
}
h1 {
	font-family: var(--header);
	font-style: var(--header-style);
	font-size: 2.5em;
	text-align: center;
	margin-top: 0px;
	font-weight: var(--header-weight);
}
p {
	font-family: var(--body-text);
	font-size: var(--font-size-p);
	font-style: var(--body-style);
	text-align: left;
	line-height: 1.4em;
	font-weight: var(--body-weight);
}
.text-blob {
    position: absolute;
    border-radius: 10px;
    padding: 30px;
    color: black;
    background-color: white;
    max-width: 300px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.page-content {
	margin: auto;
	position: absolute;
	top: 200%;
	width: 100%;
}
.button-container {
	font-size: 1.2em;
	text-align: center;
	width: 100%;
	margin: 0;
}
.history-button {
	display: inline-block;
	text-align: center;
	background-color: var(--pal-green);
	border-radius: 8px;
	padding: 1em;
	font-family: var(--body-text);
	font-weight: var(--header-weight);
	color: white;
	border-style: none;
	cursor: pointer;
	z-index: 100;
	pointer-events: auto;
	font-size: 1.2em;
	margin: 15px 2.5px
}
.history-button:focus {
	outline: none;
}
.button-1 {
	position: relative;
	display: inline;
	text-align: center;
	background-color: var(--pal-green);
	border-radius: 8px;
	padding: 1em;
	font-family: var(--body-text);
	font-size: 1em;
	color: white;
	border-style: none;
	cursor: pointer;
}
.button-1:focus {
	outline: none;
}
.staffms {
	display: none;
}
.button-2 {
	width: 100%;
	background: var(--pal-red);
	padding: 20px 0px;
	font-family: var(--body-text);
	font-size: 1.5em;
	border-radius: 10px;
	color: white;
	cursor: pointer;
}
.button-2:focus {
	outline: none;
}
#newsletter p {
    padding-bottom: 10px;
}
.newsletter-container {
	display: inline-block;
	border-radius: 8px;
	width: 300px;
	overflow: hidden;
	height: 40px; 
	-webkit-appearance: none;
	border: none;
}
.newsletter-input {
    position: absolute;
	border: none;
	height: 40px;
	text-align: center;
	font-size: 1.3em;
	font-family: var(--body-text);
	margin: 0;
	padding: 0 5px;
	background: #EFEFEF;
	transition: text 0.5s;
	cursor: pointer;
}
.newsletter-input:focus {
	text-align: left;
	outline: none;
	cursor: auto;
}
#MERGE0 {
	width: 250px;
	border-radius: 8px 0 0 8px;
}
#submit {
	padding-top: 1px;
	width: 50px;
	right: 30px;
	background-color: var(--pal-blue);
	-webkit-appearance: none;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
	color: var(--pal-lgray);
}
#social-media {
	z-index: 3;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	top: 0;
}
#social-icons {
	margin: 20px 0 100px 0;
}
.social-icon {
	width: 50px;
	margin: 0 5px;
}
#contact-us {
	z-index: 3;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
}
#contact-us p {
	margin-top: -15px;
	text-align: center;
}
#contact-us a {
	color: #E4572E;
}
#footer {
	width: 100%;
	padding: 15px 0;
	background-color: var(--pal-gray);
	z-index: 2;
	display: block;
	color: white;
	text-align: center;
	font-family: var(--header);
	margin-top: 15px;
}
