@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat|Questrial&display=swap);
body {
	margin: 0;
	height: 100%;
	width: 100%;
}
#slideshow {
	background-image: url("../images/hero/hero2.jpeg");
	transition: background-image 1s ease-in-out;
	-moz-transition: background-image 1s ease-in-out;
	-webkit-transition: background-image 1s ease-in-out;
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
}
#slideLoad {
    opacity: 0;
}
.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#hero1 {
    background-image: url("../images/hero/hero2.jpeg");
}
#hero2 {
    background-image: url("../images/hero/hero1.jpeg");
    top: 100%;
}
#mobile-banner {
	display: none;
	position: absolute;
	z-index: 5;
	top: 10px;
	width: 90%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 100px;
}
#mobile-banner img {
	position: relative;
	width: 250px;
	left: 50%;
	margin-top: 6px;
	transform: translate(-50%, 0);
	filter: brightness(0.4) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
.page-content {
	margin: auto;
}
h1 {
	font-family: 'Questrial', sans-serif;
	font-size: 2.5em;
	text-align: center;
	margin-top: 0px;
	font-stretch: condensed;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-align: left;
	line-height: 1.4em;
}
.button-container {
	font-family: 'Questrial', sans-serif;
	font-size: 1.2em;
	text-align: center;
	width: 100%;
	margin: 0;
}
.text-blob {
	position: absolute;
	border-radius: 10px;
	padding: 30px;
	color: white;
	max-width: 300px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0,);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
    z-index: 2;
}
#about-us {
    top: 30%;
    left: 10%;
    background: rgb(0, 64, 3);
    background: rgba(0, 64, 3, 0.91);
}
#about-us p {
	padding-bottom: 10px;
	margin-top: 0;
}
.button-1 {
	position: relative;
	display: inline;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	background-color: rgb(0, 200, 0);
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 8px;
	padding: 1em;
	font-family: 'Questrial', sans-serif;
	font-size: 1em;
	color: white;
	border-style: none;
}
#about-us .button-1 {
	margin: 0px 2px 0px 2px;
}
#newsletter {
	top: 130%;
    right: 10%;
    background-color: rgba(180, 10, 10, 0.9);
}
#newsletter p {
    padding-bottom: 10px;
}
.newsletter-container {
	display: inline-block;
	border-radius: 8px;
	width: 300px;
	background-color: red;
	overflow: hidden;
	height: 40px; 
	-webkit-appearance: none;
	border: none;
}
.newsletter-input {
	border: none;
	height: 40px;
	text-align: center;
	font-size: 1.3em;
	font-family: 'Questrial', sans-serif;
	margin: 0;
	padding: 0;
	position: absolute;
}
#MERGE0 {
	width: 250px;
	border-radius: 8px 0 0 8px;
}
#submit {
	padding-top: 1px;
	width: 50px;
	right: 30px;
	background-color: rgb(50, 255, 0);
	-webkit-appearance: none;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
}
#social-media {
	z-index: 3;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 200%;
}
#social-info {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: red; 
}
#contact-us {
	z-index: 3;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 300%;
}
#contact-us p {
	margin-top: -15px;
	text-align: center;
}
@supports ((backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px)) or (-moz-backdrop-filter: blur(8px))) {
	.text-blob {
		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);
		-moz-backdrop-filter: blur(7px);
	}
	#mobile-banner {
		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);
		-moz-backdrop-filter: blur(7px);
	}
    #about-us {
	   background-color: rgba(0, 64, 3, 0.8);
    }
    #newsletter {
        background-color: rgba(180, 10, 10, 0.5);
    }
}
#footer {
	width: 100%;
	height: 200px;
	background-color: dimgray;
	position: absolute;
	bottom: 0;
	z-index: 2;
	display: none;
}

/* MOBILE RENDER: */
@media only screen and (max-width: 680px) {
	#mobile-banner {
		display: block;
	}
	.text-blob {
		width: 95%;
	}
	#about-us {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#newsletter {
		top: 150%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}