@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat|Questrial&display=swap);
@font-face {
    font-family: '2-questa_grande_regular_31';
    src: url("../fonts/2-questa_grande_regular_31-webfont.woff2") format('woff2'),
         url("../fonts/2-questa_grande_regular_31-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
	/* PALETTE */
	--pal-red: #E4572E;
	--pal-blue: #17BEBB;
	--pal-yellow: #FFC914;
	--pal-green: #4AAD52;
	--pal-gray: #2E282A;
	--pal-lgray: #EFEFEF;
	
	/* STAFF CARDS */
	--staffselect-d: -55%;
	--staffselect-m: -50%;
	--staffinfo-d: -55%;
	--staffinfo-m: -50%;
	
	/* BACKGROUNDS */
	--default-top-background: url("../images/hero/hero9.jpeg");
	--topbackground-d: var(--default-top-background);
	--topbackground-m: var(--default-top-background);
	--gradient-opacity: 0;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
}
#slideshow {
	will-change: background;
	background: url("../images/hero/hero1.jpeg");
	transition: background 1s ease-in-out;
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
}
#gradient {
	will-change: opacity;
	z-index: 2;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(60deg, red, blue);
	transition: opacity 0s;
}
#hero-bottom {
	position: absolute;
	width: 100%;
	height: 120px;
	bottom: 0;
	z-index: 3;
	background: url("../images/heroBottom.png");
	background-position: bottom;
}
#slideLoad {
    opacity: 0;
}
.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#hero1 {
    background-image: url("../images/hero/hero2.jpeg");
}
#mobile-banner {
	display: none;
	position: absolute;
	z-index: 5;
	top: 10px;
	height: 80px;
	width: 90%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: white;
	border-radius: 100px;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
}
#mobile-banner img {
	position: relative;
	height: 74px;
	left: 50%;
	margin-top: 3px;
	transform: translate(-50%, 0);
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
.page-content {
	margin: auto;
	position: absolute;
	top: 200%;
	width: 100%;
}
h1 {
	font-family: 'Questrial', sans-serif;
	font-size: 2.5em;
	text-align: center;
	margin-top: 0px;
	font-stretch: condensed;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-align: left;
	line-height: 1.4em;
}
.button-container {
	font-family: 'Questrial', sans-serif;
	font-size: 1.2em;
	text-align: center;
	width: 100%;
	margin: 0;
}
.text-blob {
	position: absolute;
	border-radius: 10px;
	padding: 30px;
	color: white;
	max-width: 300px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
    z-index: 2;
}
#about-us {
    top: 25%;
    left: 10%;
    background: white;
	color: black;
	filter: brightness(1);
	transition: top 0.4s, left 0.4s;
	z-index: 4;
}
#about-us p {
	padding-bottom: 10px;
	margin-top: 0;
}
.button-1 {
	position: relative;
	display: inline;
	text-align: center;
	background-color: var(--pal-green);
	border-radius: 8px;
	padding: 1em;
	font-family: 'Questrial', sans-serif;
	font-size: 1em;
	color: white;
	border-style: none;
	cursor: pointer;
}
.button-1:focus {
	outline: none;
}
#about-us .button-1 {
	margin: 0px 2px 0px 2px;
}
#staff-select {
	position: absolute;
	transition: left 0.4s, top 0.4s;
	z-index: 4;
	width: 360px;
	border-radius: 10px;
	background: white;
	top: 25%;
	left: var(--staffselect-d);
	height: 451px;
	overflow-y: scroll;
	overflow-x: hidden;
	filter: brightness(1);
	pointer-events: none;
}
#staff-select li {
	text-decoration: none;
	list-style: none;
	text-align: center;
	font-family: 'Questrial', sans-serif;
	font-size: 1.5em;
	padding: 20px;
	border-bottom: 1px solid gray;
	color: black;
	cursor: pointer;
}
#staff-info {
	position: absolute;
	transition: left 0.4s, top 0.4s;
	z-index: 5;
	border-radius: 10px;
	background: white;
	top: 25%;
	left: var(--staffinfo-d);
	min-width: 300px;
	width: 30%;
	height: 391px;
	font-family: 'Questrial', sans-serif;
	padding: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
	pointer-events: none;
}
#staff-info h2 {
	text-align: center;
	font-weight: normal;
	margin-top: -20px;
}
.staffms {
	display: none;
}
.button-2 {
	width: 100%;
	background: var(--pal-red);
	padding: 20px 0px;
	font-family: 'Questrial', sans-serif;
	font-size: 1.5em;
	border-radius: 10px;
	color: white;
	cursor: pointer;
}
.button-2:focus {
	outline: none;
}
#newsletter {
	top: 150%;
    right: 10%;
    background-color: white;
	color: black;
	transform: translate(0, -50%);
}
#newsletter p {
    padding-bottom: 10px;
}
.newsletter-container {
	display: inline-block;
	border-radius: 8px;
	width: 300px;
	overflow: hidden;
	height: 40px; 
	-webkit-appearance: none;
	border: none;
}
.newsletter-input {
	border: none;
	height: 40px;
	text-align: center;
	font-size: 1.3em;
	font-family: 'Questrial', sans-serif;
	margin: 0;
	padding: 0 5px;
	position: absolute;
	background: #EFEFEF;
	transition: text 0.5s;
	cursor: pointer;
}
.newsletter-input:focus {
	text-align: left;
	outline: none;
	cursor: auto;
}
#MERGE0 {
	width: 250px;
	border-radius: 8px 0 0 8px;
}
#submit {
	padding-top: 1px;
	width: 50px;
	right: 30px;
	background-color: var(--pal-blue);
	-webkit-appearance: none;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
	color: var(--pal-lgray);
}
#newsletter-background {
	position: absolute;
	background: url("../images/adobel3.jpeg");
	top: 100%;
	width: 100%;
	height: 90%;
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: cover;
	z-index: 1;
	
}
#nlg1 {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 7%;
	background: linear-gradient(180deg, white, transparent);
	top: 0;
}
#nlg2 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5%;
	z-index: 2;
	background: linear-gradient(0deg, white, transparent);
}
#social-media {
	z-index: 3;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	top: 0;
}
#social-icons {
	margin: 20px 0 100px 0;
}
.social-icon {
	width: 50px;
	margin: 0 5px;
}
#contact-us {
	z-index: 3;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
}
#contact-us p {
	margin-top: -15px;
	text-align: center;
}
#contact-us a {
	color: #E4572E;
}
#footer {
	width: 100%;
	padding: 15px 0;
	background-color: var(--pal-gray);
	z-index: 2;
	display: block;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
}

/* MOBILE RENDER: */
@media only screen and (max-width: 680px) {
	/*#slideshow {
		background: var(--topbackground-m);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}*/
	#gradient {
		display: none;
	}
	#mobile-banner {
		display: none;
	}
	.text-blob {
		width: 95%;
	}
	#about-us {
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: rgba(255, 255, 255, 0.6);
		backdrop-filter: blur(2px);
		-webkit-backdrop-filter: blur(2px);
		text-shadow: 1px 1px 20px white;
	}
	#staff-select {
		top: calc(40% + 20px);
		left: var(--staffselect-m);
		transform: translate(-50%, -50%);
	}
	#staff-info {
		left: var(--staffinfo-m);
		top: calc(40% + 40px);
		transform: translate(-50%, -50%);
	}
	#newsletter {
		top: 150%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#nlg1 {
		display: none;
	}
}