:root {
    --history-active: var(--history-left-m-active);
    --history-inactive: var(--history-left-m-inactive);
}
body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
#slideshow {
    position: fixed;
    top: 0;
    left: 0;
}
#staff-select {
	position: absolute;
	transition: left 0.4s, top 0.4s, opacity 0.5s ease-in, filter 0.4s;
	z-index: 4;
	width: 360px;
	height: 460px;
	border-radius: 10px;
	background: white;
	top: calc(100% - 145px);
	left: var(--staffselect-m);
	overflow-y: scroll;
	overflow-x: hidden;
	filter: brightness(1);
	pointer-events: none;
	opacity: var(--staffselect-opacity);
	transform: translate(-50%, 0);
}
#staff-info {
	position: absolute;
	transition: left 0.4s, top 0.4s;
	z-index: 5;
	border-radius: 10px;
	background: white;
	top: calc(100% - 145px);
	left: var(--staffinfo-m);
	width: 300px;
	height: 400px;
	font-family: var(--body-text);
	padding: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
	pointer-events: none;
	transform: translate(-50%, 0);
}
#staff-info h2 {
	text-align: center;
	font-weight: var(--body-weight);
	font-style: var(--header-style);
	margin-top: -20px;
}
.text-blob {
    left: 50%;
    transform: translate(-50%, 0);
    /*max-width: calc(100% - 70px);
    min-width: calc(90% - 70px);*/
	max-width: calc(100% - 70px);
	min-width: 300px;
}
#about-us {
    top: calc(100% - 130px);
}
#history-viewer {
	will-change: background-image, opacity;
	transition: opacity 1.3s ease-in-out, background-image 1.3s ease-in-out;
    opacity: 0;
	background-image: url("../images/history/history1.png");
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 10;
	overflow-x: hidden;
    pointer-events: none;
}
.history-content {
    transform: translate(-50%, 0);
	bottom: 10px;
}
#newsletter {
    top: 150%;
}
.page-content {
    width: 100%;
    top: 210%;
    z-index: 5;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    border-radius: 15px 15px 0 0;
}
#staff-back {
	position: absolute;
	top: calc(100% + 320px);
	left: var(--staffBack-left-m);
}
/*
	active: calc(100% - 100px);
	inactive: -100px;
*/
