:root {
    --history-active: var(--history-left-m-active);
    --history-inactive: var(--history-left-m-inactive);
}
body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
#slideshow {
    position: fixed;
    top: 0;
    left: 0;
}
.text-blob {
    left: 50%;
    transform: translate(-50%, 0);
    max-width: calc(100% - 70px);
    min-width: calc(90% - 70px);
}
#about-us {
    top: calc(100% - 130px);
}
#history-viewer {
	will-change: background-image, opacity;
	transition: opacity 1.3s ease-in-out, background-image 1.3s ease-in-out;
    opacity: 0;
	background-image: url("../images/history/history1.png");
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 10;
	overflow-x: hidden;
    pointer-events: none;
}
.history-content {
    transform: translate(-50%, 0);
}
#newsletter {
    top: 150%;
}
.page-content {
    width: 100%;
    top: 210%;
    z-index: 5;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    border-radius: 15px 15px 0 0;
}